---
import Page from '../layouts/Page.astro';
import { unions } from '../unions.ts';
---

<Page>
  <div class="container">
    <h1>Sources & Attribution</h1>

    <p>
      Our mission is to provide accurate and accessible rugby scores, standings,
      and statistics. To do this, we rely on data from trusted organizations and
      websites.
    </p>

    <h2>Primary Data Sources</h2>
    <ul>
      {
        unions.map((federation) => (
          <li>
            <a href={federation.url} target="_blank" rel="noopener noreferrer">
              {federation.name}
            </a>
          </li>
        ))
      }
    </ul>

    <h2>Data Usage & Permissions</h2>
    <p>
      Whenever possible, we seek permission from data providers to use and
      display their information. If you are a data provider and have questions
      or concerns about how your data is used, please <a href="/contact"
        >contact us</a
      >.
    </p>

    <h2>Licensing & Attribution</h2>
    <p>
      Some data or content may be subject to licenses from the original
      providers. We make every effort to credit these sources appropriately.
    </p>

    <h2>Feedback & Corrections</h2>
    <p>
      If you notice any inaccuracies or have suggestions for additional data
      sources, please let us know via our <a href="/contact">contact page</a>.
    </p>
  </div>
</Page>
