---
import Layout from '../layouts/Layout.astro';
import ClubList from '../components/ClubList.vue';

import { clubs } from '../consts.ts';
---

<Layout>
  <h1>All Clubs</h1>
  <ClubList clubs={clubs} />
</Layout>
