---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="mb-4">Clubs</h1>
    <div id="clubs-list" class="row row-cols-1 g-3"></div>

    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js" defer></script>
    <script src="/scripts/load-clubs.js" defer></script>
</Layout>
