---
import Layout from '../layouts/Layout.astro';
import News from '../components/News.vue';
import Settings from '../components/Settings.vue';
import { leagues, news } from '../consts.ts';
---

<Layout>
  <h1 class="display-1">Hey, 👋</h1>
  <p class="lead">
    Before you begin, please select all leagues you would like to follow.
  </p>

  <Settings client:load leagues={leagues} />
</Layout>
