---
import Info from '../layouts/Info.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';

import { unions } from '../unions.ts';
export async function getStaticPaths() {
  return unions.map((federation) => ({
    params: { slug: federation.slug },
    props: { federation },
  }));
}
---

<Info>
  <h1 class="display-1">{SITE_TITLE}</h1>
  <p class="lead">{SITE_DESCRIPTION}</p>

  <p>Select a rugby federation:</p>

  <ul class="list-group">
    {
      unions.map((fed) => (
        <li class="list-group-item">
          <a href={`/${fed.slug}`} class="text-decoration-none">
            {fed.name}
          </a>
        </li>
      ))
    }
  </ul>
</Info>
