---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <a href="clubs">clubs</a>
  <a href="results">results</a>
  <a href="schedule">schedule</a>
  <a href="standings">standings</a>
  <a href="settings">settings</a>
</Layout>
