---
import Page from '../layouts/Page.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.ts';

import { unions } from '../utils/unions.ts';

const terms_and_policies = [
  { title: 'Terms of Service', href: './terms_of_serice' },
  { title: 'Privary Policy', href: './privary_policy' },
  { title: 'Attributions', href: './attributions' },
];
---

<Page>
  <div class="container">
    <p>Terms and Policies</p>
    <ul class="list-group">
      {
        terms_and_policies.map((tab) => (
          <li class="list-group-item">
            <a href={`/${tab.href}`} class="text-decoration-none">
              {tab.title}
            </a>
          </li>
        ))
      }
    </ul>

    <p>Unions</p>
    <ul class="list-group">
      {
        unions.map((fed) => (
          <li class="list-group-item">
            <a href={`${fed.url}`} class="text-decoration-none">
              {fed.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
