---
import 'bootstrap/dist/css/bootstrap.min.css';
import '@/styles/global.css';

import Meta from '@/components/astro/Meta.astro';
import Analytics from '@/components/astro/Analytics.astro';
---

<html lang="en" data-bs-theme="light">
  <head>
    <Meta />
  </head>
  <Analytics />
  <body>
    <slot />
  </body>
</html>