---
import Page from '../../layouts/Page.astro';
import SettingsComponent from '../../components/vue/Settings.vue';

const { union } = Astro.props;

import { unions } from '../../utils/unions.ts';
export async function getStaticPaths() {
  return unions.map((union) => ({
    params: { slug: union.slug },
    props: { union },
  }));
}

import { prepareUnionData } from '../../utils/data.ts';

const { leagues } = await prepareUnionData(union.slug);
---

<Page>
  <div class="container">
    <h1>Preferences</h1>
    <SettingsComponent client:visible leagues={leagues} />
  </div>
</Page>
